<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>530862370608-4ssjf98376kl83cnn2igee6ve5vbt72d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.530862370608-4ssjf98376kl83cnn2igee6ve5vbt72d</string>
	<key>API_KEY</key>
	<string>AIzaSyAH6K7nOWDHm8CwNozasF_ehO6IyS69Z1A</string>
	<key>GCM_SENDER_ID</key>
	<string>530862370608</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.fiu.ACM-Learn-Mobile</string>
	<key>PROJECT_ID</key>
	<string>acm-learn-mobile</string>
	<key>STORAGE_BUCKET</key>
	<string>acm-learn-mobile.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:530862370608:ios:1b6a03fe9bbd39b2b8e2f5</string>
	<key>DATABASE_URL</key>
	<string>https://acm-learn-mobile.firebaseio.com</string>
</dict>
</plist>